extends layout.pug

block body
  div(class='container')
    h1(class='h1-responsive text-center my-5') Our Experience
    p(class='text-center')
      | We have a talented team of passionate people from top schools and
      | vast experience. Our team has developed award-winning STEM
      | curriculums, fostered champion robotics teams, organized the New York
      | regional for the World Robot Olympiad, and has been repeatedly
      | invited to community events such as Maker Faire, NY Academy of
      | Sciences STEM mentoring event, and the World Science Festival.
      | Employing years of competition and training experience, our team
      | carefully designs curriculums and training programs that develop and
      | inspire young minds. In collaboration with our international
      | curriculum developer STEM4Maker and leading STEM organizations
      | throughout the USA and Asia, we deliver education of the highest
      | quality.
    h1(class='h1-responsive text-center my-5') Meet The Team
    div(class='row my-5 about-people')
      div(class='col-md-3')
        img(src='/client/img/dennis.jpg')
      div(class='col-md-9')
        h2(class='h2-responsive') Dennis Chan
        h3(class='h3-responsive') Founder of RoboMindTech
        p
          | A firm believer in multidisciplinary learning, Chan has been
          | involved with a wide variety of programs that integrate STEM and
          | robotics with academic and sports programs. Founding member and
          | sponsor of the USA World Robot Olympiad, and co-founder of Carnegie
          | Mellon University’s International Robotics Fei Yue program, Chan
          | actively engages in connecting robotics programs in the USA with
          | the international robotics community. He currently advises a number
          | of STEM programs for educational institutions in the USA, China,
          | the Philippines, and Taiwan. He received his B.S. in Electrical
          | Engineering with a specialization in robotics control from the
          | University of Rochester, his M.S. in Computer Science from New York
          | University, and an international EMBA from Beijing University.
    div(class='row my-5 about-people')
      div(class='col-md-3')
        img(src='/client/img/potato.png')
      div(class='col-md-9')
        h2(class='h2-responsive') Samuel Crisanto
        h3(class='h3-responsive')
          | Research Director &amp; Robotics Competition Coach for FLL and WRO
        p
          | Award-winning coach for the 2013 FLL New York Championship team and
          | 2014 WRO National Championship team, creator of RoboMindTech’s
          | foundational technical training programs, and a powerhouse for
          | research and development, Sam was the backbone of RoboMindTech’s
          | success in robotics competition training and STEM education
          | programs. With four years of teaching experience with RoboMindTech,
          | Sam has a keen sense of how children learn and develop the skills
          | necessary to succeed in a competitive engineering environment. He
          | developed the Teamwork Training program and produced extensive
          | material for their instructor training and curriculum framework. In
          | addition to leading research and development, Sam coaches the
          | robotics competition teams for FLL and WRO. Sam specializes in
          | algorithms and statistical inference on genomes, with a degree in
          | Computational Biology from Brown University. In his free time, he
          | loves to sing and play video games.
    div(class='row my-5 about-people')
      div(class='col-md-3')
        img(src='/client/img/potato.png')
      div(class='col-md-9')
        h2(class='h2-responsive') Juno Lee
        h3(class='h3-responsive')
          | Marketing Lead &amp; Curriculum Developer for Robotics and Computer
          | Science
        p
          | Juno discovered her passion for innovation when she joined the Fe
          | Maidens Bronx Science FRC team, leading design and manufacturing as
          | Head of Construction in her senior year. In 2014, she competed in
          | WRO, representing the USA in the world championships in Sochi,
          | Russia. At RoboMindTech, she coached FLL research, guiding a team
          | to 2nd place at the New York City Regional with innovative learning
          | in mathematics. She developed our First Lego League Competition
          | Research Training program and took part in designing the STEM4Maker
          | curriculum framework. She helps coordinate training and curriculum
          | development while maintaining relations with RoboMindTech’s
          | education partner in Hong Kong, Semia Ltd. She is currently
          | studying data science and minoring in international studies at the
          | University of Michigan. Juno hip-hop dances in her free time and
          | has a passion for taiko drumming.
    div(class='row my-5 about-people')
      div(class='col-md-3')
        img(src='/client/img/potato.png')
      div(class='col-md-9')
        h2(class='h2-responsive') Alvin Lin
        h3(class='h3-responsive')
          | Instructor &amp; Curriculum Developer for Computer Science
        p
          | With over 8 years experience in software development and 4 years
          | experience with robotics, Alvin has been instrumental in developing
          | and teaching RoboMindTech’s computer science curriculum. He served
          | as the vice president for Stuyvesant's FTC team Fission 310 and
          | led RoboMindTech's WRO soccer team, representing New York at the
          | 2015 WRO USA nationals. He is a software engineer who has worked for
          | education startup SchoolYourself Inc and is currently employed as an
          | intern at Google. When not coding, he enjoys playing the piano,
          | ballroom dancing, and playing video games.
    div(class='row my-5 about-people')
      div(class='col-md-3')
        img(src='/client/img/potato.png')
      div(class='col-md-9')
        h2(class='h2-responsive') Tenzin Ukyab
        h3(class='h3-responsive')
          | FLL Research Coach &amp; Curriculum Developer for Robotics and
          | Computer Science
        p
          | Tenzin has been sharing her love for STEM with youth since she
          | introduced her younger sisters to robotics. She led the Fe Maidens
          | FRC team as Head of Strategy and Design in her senior year of high
          | school. In 2015, she competed in WRO, winning second place in the
          | national championships. At RoboMindTech, she plays an integral role
          | in developing the video game design curriculum and coaches FLL
          | research. Tenzin is studying Computer Science at MIT. She loves
          | running, reading, and watching movies in her spare time.
    div(class='row my-5 about-people')
      div(class='col-md-3')
        img(src='/client/img/potato.png')
      div(class='col-md-9')
        h2(class='h2-responsive') Austin Wong
        h3(class='h3-responsive') FLL Competition Coach &amp; Team Alumnus
        p
          | Austin’s passion for design and prototyping began early on in his
          | life with Lego robotics classes and competing in FLL. Building
          | balsa gliders, rubber band powered balsa helicopters, and remote
          | controlled robot arms, he continued his love for innovation in
          | Science Olympiad competitions and his FRC team, the Steel Hawks,
          | all the while maintaining among the highest academic performances
          | at Townsend Harris High School. Austin taught robotics classes at
          | RoboMindTech for over four years and now coaches the FLL robotics
          | teams. He is pursuing his degree in Mechanical Engineering at The
          | Cooper Union.
    div(class='row my-5')
      div(class='col-md-4')
        h2(class='h2-responsive text-center') Immerse
        hr
        p(class='text-center')
          | Context and immersion greatly enrich the learning experience. Being
          | able to hold a model in your hands, being able to observe exactly
          | how the gears mesh and the linkages move, being able to change that
          | machine in order to produce a desired behavior - in our experience,
          | this is a very effective way to introduce and communicate concepts
          | which are commonly presented to much older students in an abstract
          | mathematical way. After all, understanding conservation of energy
          | does not necessarily involve balancing equations.
      div(class='col-md-4')
        h2(class='h2-responsive text-center') Make
        hr
        p(class='text-center')
          | In our workshops, children create machines and robots from the
          | ground up. Experienced instructors explain the how and why every
          | step of the way, always being careful to relate the day's project
          | back to a real-world concept the children can connect to. After a
          | core build is completed, children are asked to put on their
          | "engineering hats" - they are given time to explore the model's
          | basic functionality, and then they are tasked with a design
          | challenge that asks them to integrate prior knowledge with the
          | novel mechanisms that they themselves built from scratch.
      div(class='col-md-4')
        h2(class='h2-responsive text-center') Inspire
        hr
        p(class='text-center')
          | The most rewarding result of our work is watching passion and life
          | skills bloom in our students as they grow up to be great and
          | capable leaders. Whether it be presenting at Maker Faire, competing
          | in the World Robot Olympiad, or playing robot rock, paper, scissors
          | at a senior day care, there are many opportunities for all our
          | students. Always open to dialogue about futures, education, careers
          | and experiences, we are passionate about enabling and inspiring
          | youth!
