extends layout.pug

block body
  div(class='container')
    h1(class='h1-responsive text-center my-5') Our Experience
    p(class='text-center')
      | We have a talented team of passionate people from top schools and
      | vast experience. Our team has developed award-winning STEM
      | curriculums, fostered champion robotics teams, organized the New York
      | regional for the World Robot Olympiad, and has been repeatedly
      | invited to community events such as Maker Faire, NY Academy of
      | Sciences STEM mentoring event, and the World Science Festival.
      | Employing years of competition and training experience, our team
      | carefully designs curriculums and training programs that develop and
      | inspire young minds. In collaboration with our international
      | curriculum developer STEM4Maker and leading STEM organizations
      | throughout the USA and Asia, we deliver education of the highest
      | quality.
    h1(class='h1-responsive text-center my-5') Meet The Founder
    div(class='row my-5 about-people')
      div(class='col-md-3')
        img(src='/client/img/dennis.jpg' class='img-fluid z-depth-2')
      div(class='col-md-9')
        h2(class='h2-responsive') Dennis Chan
        p
          | A firm believer in multidisciplinary learning, Chan has been
          | involved with a wide variety of programs that integrate STEM and
          | robotics with academic and sports programs. Founding member and
          | sponsor of the USA World Robot Olympiad, and co-founder of Carnegie
          | Mellon University’s International Robotics Fei Yue program, Chan
          | actively engages in connecting robotics programs in the USA with
          | the international robotics community. He currently advises a number
          | of STEM programs for educational institutions in the USA, China,
          | the Philippines, and Taiwan. He received his B.S. in Electrical
          | Engineering with a specialization in robotics control from the
          | University of Rochester, his M.S. in Computer Science from New York
          | University, and an international EMBA from Beijing University.
