extends layout.pug

block body
  div(class='view intro jarallax hm-white-strong homepage-parallax'
      data-jarallax='{"speed": 0.2}')
    div(class='full-bg-img')
      div(class='container flex-center')
        h1(class='display-4 text-center homepage-parallax-text')
          | Science, Technology, Robotics &amp; Lego Learning Fun!
  div(class='container')
    div(class='row my-5')
      div(class='col')
        h2(class='h2-responsive text-center') The RoboMindTech Philosophy
        h5(class='h5-responsive text-center text-muted font-italic')
          | Play is an important part of a child’s life, and with good reason -
          | there are few better ways to explore the physical laws that govern
          | the world around us. RoboMindTech helps children build intuition
          | about key STEM principles, and develop strong critical thinking
          | skills that will benefit them for the rest of their lives.
    hr(class='row my-5')
    div(class='row my-5 homepage-content')
      div(class='col-md-4')
        img(src='/client/img/home1.jpg' class='img-fluid z-depth-1')
      div(class='col-md-8')
        p
          | Join us to create exciting STEM projects ranging from animation and
          | video game design to robotics and coding. Our developmental
          | programs for ages 4-18 are numerous, successive, and progressive.
          | We groom novices and experienced students, transforming them into
          | highly skilled and passionate innovators!
    div(class='row my-5 homepage-content')
      div(class='col-md-8')
        p
          | Build an amusement park or play sports in the Robot Olympics!
          | Channel your child’s creative energy into fun STEM projects with
          | our unique, hands-on curriculum. From robotics, video game design,
          | and coding to Lego creative play, we offer a variety of immersive
          | week-long summer camps and studio sessions. Students can attend
          | half and full day summer camps or weekly studio sessions in an
          | afternoon or evening.
      div(class='col-md-4')
        img(src='/client/img/home2.jpg' class='img-fluid z-depth-1 float-right')
    div(class='row my-5 homepage-content')
      div(class='col-md-4')
        img(src='/client/img/home3.jpg' class='img-fluid z-depth-1')
      div(class='col-md-8')
        p
          | RoboMindTech develops STEM programs and robotics competition
          | training, mentors award-winning robotics teams, runs year-round
          | STEM camps, and actively connects students, staff, and local
          | partners to the international STEM community.
block scripts
