extends layout.pug

block body
  div(class='view intro jarallax hm-white-light homepage-parallax'
      data-jarallax='{"speed": 0.2}')
    div(class='full-bg-img')
      div(class='container flex-center')
        h1(class='display-4 text-center')
          | Science, Technology, Robotics &amp; Lego Learning Fun!
  div(class='container')
    div(class='row my-5')
      div(class='col')
        h2(class='h2-responsive text-center') The RoboMindTech Philosophy
        h5(class='h5-responsive text-center text-muted font-italic')
          | Play is an important part of a child’s life, and with good reason -
          | there are few better ways to explore the physical laws that govern
          | the world around us. RoboMindTech helps children build intuition
          | about key STEM principles, and develop strong critical thinking
          | skills that will benefit them for the rest of their lives.
    div(class='row my-5')
      div(class='col-md')
        h2(class='h2-responsive text-center') Immerse
        hr
        p(class='text-center')
          | Context and immersion greatly enrich the learning experience. Being
          | able to hold a model in your hands, being able to observe exactly
          | how the gears mesh and the linkages move, being able to change that
          | machine in order to produce a desired behavior - in our experience,
          | this is a very effective way to introduce and communicate concepts
          | which are commonly presented to much older students in an abstract
          | mathematical way. After all, understanding conservation of energy
          | does not necessarily involve balancing equations.
      div(class='col-md')
        h2(class='h2-responsive text-center') Make
        hr
        p(class='text-center')
          | In our workshops, children create machines and robots from the
          | ground up. Experienced instructors explain the how and why every
          | step of the way, always being careful to relate the day's project
          | back to a real-world concept the children can connect to. After a
          | core build is completed, children are asked to put on their
          | "engineering hats" - they are given time to explore the model's
          | basic functionality, and then they are tasked with a design
          | challenge that asks them to integrate prior knowledge with the
          | novel mechanisms that they themselves built from scratch.
      div(class='col-md')
        h2(class='h2-responsive text-center') Inspire
        hr
        p(class='text-center')
          | The most rewarding result of our work is watching passion and life
          | skills bloom in our students as they grow up to be great and
          | capable leaders. Whether it be presenting at Maker Faire, competing
          | in the World Robot Olympiad, or playing robot rock, paper, scissors
          | at a senior day care, there are many opportunities for all our
          | students. Always open to dialogue about futures, education, careers
          | and experiences, we are passionate about enabling and inspiring
          | youth!
block scripts
