doctype html

html
  head
    block title
      title RoboMindTech

    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1')
      
    link(rel='stylesheet' href='/client/mdb/css/bootstrap.min.css')
    link(rel='stylesheet' href='/client/mdb/css/mdb.min.css')
    link(rel='stylesheet' href='/client/styles.css')

  body(class='cyan-skin')
    nav(class='navbar navbar-expand-lg navbar-light default-color')
      a(class='navbar-brand' href='/')
        img(src='/client/img/logo.png' height='80px')
      button(class='navbar-toggler' type='button' data-toggle='collapse'
             data-target='#navbar' aria-controls='navbar' aria-expanded='false'
             aria-label='Toggle navigation')
        span(class='navbar-toggler-icon')
      div(id='navbar' class='collapse navbar-collapse justify-content-end')
        ul(class='navbar-nav')
          li(class='nav-item')
            a(class='nav-link' href='/home') Home
          li(class='nav-item')
            a(class='nav-link' href='/programs') Programs
          li(class='nav-item')
            a(class='nav-link' href='/about') About Us
          li(class='nav-item')
            a(class='nav-link' href='/signup') Sign Up Online
    block body
    footer(class='page-footer primary-color')
      div(class='container-fluid')
        div(class='row center-on-small-only px-2')
          div(class='col-md-9')
            img(src='/client/img/logo.png' height='80px')
            p(class='black-text')
              | 185-10A Union Turnpike
              br
              | Fresh Meadows, NY 11366
              br
              | 718-264-7626
              br
              | connect&#64;robomindtech&#46;com
          div(class='col-md-3')
            h3(class='h3-responsive') Site Map
            div(class='row')
              div(class='col')
                a(href='/home') Home
                br
                a(href='/programs') Programs
                br
                a(href='/about') About Us
                br
                a(href='/signup') Sign Up Online
      div(class='footer-copyright')
        div(class='container-fluid')
          | &copy; Copyright 2017 RoboMindTech

  script(src='/client/mdb/js/jquery-3.2.1.min.js')
  script(src='/client/mdb/js/popper.min.js')
  script(src='/client/mdb/js/bootstrap.min.js')
  script(src='/client/mdb/js/mdb.min.js')
  block scripts
