extends layout.pug

block body
  div(class='container')
    h1(class='h1-responsive text-center my-5') STEM Programs
    p(class='text-center')
      | We run a variety of K-12 STEM programs year-round at many locations,
      | both on-site and off-site at schools and community centers. Our
      | curriculums focus on subjects like mechanical engineering, robotics,
      | cyber security, and video game design! Integrating the motivational
      | effects of goal-oriented play with the rigorous demands of engineering
      | a functional model, these programs are designed to train and inspire
      | young minds.
