extends layout.pug

block body
  div(class='container')
    h1(class='h1-responsive text-center mt-5') STEM Programs
    p(class='text-center')
      | We run a variety of K-12 STEM programs year-round at many locations,
      | both on-site and off-site at schools and community centers. Our
      | curriculums focus on subjects like mechanical engineering, robotics,
      | cyber security, and video game design! Integrating the motivational
      | effects of goal-oriented play with the rigorous demands of
      | engineering a functional model, these programs are designed to
      | train and inspire young minds.
    div(class='row mb-3')
      div(class='col-md-6')
        img(src='/client/img/programs4.jpg' class='img-fluid z-depth-1')
      div(class='col-md-6')
        img(src='/client/img/programs5.jpg' class='img-fluid z-depth-1')
    hr(class='my-5')
      
    h5(class='h5-responsive text-center')
      | We are committed to bringing quality STEM education to everyone! We
      | work with a number of local schools, community groups and
      | educational centers, specially adapting our curriculum to meet the
      | needs of the local community we are serving. Contact us to start
      | the process of bringing RoboMindTech workshops to your school!
    div(class='row')
      div(class='col-md-12')
        img(src='/client/img/programs2.jpg' class='img-fluid z-depth-1')
          
    h2(class='h2-responsive text-center mt-5') Competitions
    p(class='text-center')
      | Competitions challenge participants to work as a team to solve a
      | difficult problem, giving them a taste of what it is like to be a real
      | engineer. Students must design and implement functional solutions to
      | engineering challenges despite limited resources and tight time
      | constraints. The invaluable knowledge and skills gained from
      | competitions lasts a lifetime!
    p(class='text-center')
      | An active member of the robotics competition community, RoboMindTech
      | hosts the New York regional competition for the World Robot Olympiad
      | and is home to award-winning teams of FIRST Lego League and the World
      | Robot Olympiad. We deliver a series of training programs and coaching
      | sessions for students and robotics teams at any level. Our coaches are
      | more than happy to help you or your team, whether you are looking for a
      | place to practice, struggling with a tricky mission, or simply looking
      | for some good advice!
    div(class='row mb-5')
      div(class='col-md-6')
        img(src='/client/img/programs1.jpg' class='img-fluid z-depth-1')
      div(class='col-md-6')
        img(src='/client/img/programs3.jpg' class='img-fluid z-depth-1')
